// Navigation code here

nav {
    .display(center);
    flex-direction: column;
    padding: 1% 0;
    .nav-bg();

    .space-walker {
        .display(center);
        width: 400px;

    } // this ends .space-walker

    .links {
        .display(space-around);
        width: 400px;
        padding-top: 1%;
    } // this ends .links

} // this ends nav
